on: [push]
jobs:
  netbsd-job:
    runs-on: ubuntu-latest
    steps:
      - uses: vmactions/netbsd-vm@main
        with:
          sync: no
          release: "10.1"
          prepare: |
            /usr/sbin/pkg_add curl
          run: |
            set -e

            printf "::group::Without buildinfo (works fine)\n"
            touch ./contents

            /usr/sbin/pkg_create \
              -c -"My comment" \
              -d -"My description" \
              -f ./contents \
              my-package.tgz

            rm ./contents ./my-package.tgz
            printf "::endgroup::\n"


            printf "::group::With empty buildinfo (fails)\n"
            touch ./contents ./buildinfo

            /usr/sbin/pkg_create \
              -B ./buildinfo \
              -c -"My comment" \
              -d -"My description" \
              -f ./contents \
              my-package.tgz

            rm ./contents ./buildinfo ./my-package.tgz
            printf "::endgroup::\n"


            printf "::group::With non-empty buildinfo (fails)\n"
            touch ./contents
            printf "MACHINE_ARCH=%s\n" "$(uname -p)"             > "./buildinfo"
            printf "OPSYS=%s\n" "$(uname)"                      >> "./buildinfo"
            printf "OS_VERSION=%s\n" "$(uname -r)"              >> "./buildinfo"
            printf "PKGTOOLS_VERSION=%s\n\n" "$(pkg_create -V)" >> "./buildinfo"

            /usr/sbin/pkg_create \
              -B ./buildinfo \
              -c -"My comment" \
              -d -"My description" \
              -f ./contents \
              my-package.tgz

            rm ./contents ./buildinfo ./my-package.tgz
            printf "::endgroup::\n"
